header {
    color: #FFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    background-color: #FFF;
    background-image: url("../images/logo.png");
    background-position: left;
    background-repeat: no-repeat;
}